/* GLOBAL STYLING */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Nunito+Sans:opsz@6..12&family=Open+Sans:ital,wght@1,500&family=Poppins:wght@300&family=Raleway:wght@500&family=Roboto&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: Montserrat, sans-serif;
    background-color: #D2D7DF;
}


#heading {
    color: #00beef;
    margin: 20px 0 0;
    padding: 10px 0 0;
    font-style: italic;
    font-family: Roboto, sans-serif;
    text-align: center;
    text-transform:uppercase;
    text-decoration: underline;
}

/* FORM STYLING */
.my-5 {
    width: 600px;
    padding: 20px;
    border: none;
    border-radius: 18px;
    background-color: #f1f1f1;
    box-shadow: 10px 10px 8px 3px gray;
}

.my-5 h3 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 2px solid #2691da;
}

.my-5 label {
    position: relative;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 10px 0 5px;
}

.my-5 input {
    border: none;
    padding: 5px;
    background-color: inherit;
    border-bottom: 1px solid silver;
}

.my-5 input:focus {
    outline: none;
    border: none;
}

#inline-p{
    opacity: 0.5;
    cursor: pointer;
    text-transform: capitalize;
}

#inline-p:hover{
    opacity: 0.85;
    text-decoration: underline;
}

.my-5 input[type="submit"] {
    width: 300px;
    border: none;
    padding: 10px 24px;
    border-radius: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #E8E9ED;
    background-color: rgba(49, 186, 190, 0.911);
}

input[type="submit"]:hover {
    transform: scale(1.015);
}

.submit-btn {
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 568px) and (max-width: 768px) {

    .my-5 {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 568px) {

    .my-5 {
        transform: scale(0.6);
    }
}