
nav div{
    display: grid;
    grid-template-areas: "a a a a f f f b b b";
    margin: 0px;
    padding: 0px;
    
}

.a{
    grid-area: a;
    display: flex;
    padding:20px;
    align-items: center;
}
.b{
    grid-area: b;
    display: flex;
    padding: 20px;
    align-items: center;
}
nav a{
    text-decoration: none;
    color:red;
    margin-left: 20px;
}
a:hover{
    opacity: 0.5;
    cursor: pointer;   
}
.search__form{
    display: flex;
    grid-area: f;
    padding: 20px;
    text-decoration: none;
}
nav{
    height: 70px;
    width: auto;
}

