{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyumba site</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <nav class="container-fluid shadow-md g-2">
        <div class="align-center ">
            <div class="a">
                <a href="{% url 'home' %}" class="text-danger">Home</a>
                <a href="#" class="text-danger">categories</a>
                <a href="#" class="text-danger">Location</a>
                <a href="#" class="text-danger">Movers</a>
            </div>
            <form action="" method="POST" class="search__form">
                <input type="text" value="" >
                <button>search</button>
            </form>
            <!-- search form goes down here -->
            <div class="b text-danger">
                <a href="#" class="text-danger">Profile</a>
                <a href=" {% url 'usersapp:logout' %}" class="text-danger">Logout</a> 
            </div>
        </div>
    </nav>
    {% if messages %}
        {% for m in messages %}
            <div class="alert {{m.tags}} align-center" role="alert" id="alert">
                {{m}}
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        <!--carousel  -->
        

    </div>
    <script src="{%static 'js/bootstrap.js' %}"></script>
</body>
</html>