{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyumba site</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{%static 'css/login.css' %}">
</head>

<body>

    {% if messages %}
    {% for m in messages %}
    <div class="alert {{m.tags}} align-center" role="alert" id="alert">
        {{m}}
        <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <h1 id="heading">WELCOME TO MY-NYUMBA APPLICATION</h1>

    <div class="container">
        <form action="." method="POST" class="container-fluid align-content-center  my-5" style="width: 600px;">
            <h3>Login </h3>
            {%csrf_token%}

            <label for="email">Email:</label>
            <p class="input-field">{{form.email}}</p>
            <div class="text-danger">
                <p class="text-danger">{{form.errors.Email}}</p>
            </div>


            <label for="password">Password:</label>
            <p class="input-field" id="passwd">{{form.password}}</p>
            <p id="inline-p">show password ?</p>
            <div class="text-danger">
                <p class="text-danger">{{form.errors.password}}</p>
            </div>

            <div class="submit-btn">
                <input type="submit" value="login" class="mb-2 ">
            </div>
        </form>
    </div>
    <script src="{%static 'js/bootstrap.js' %}"></script>
    <script src="{%static 'js/main.js' %}"></script>
</body>

</html>