{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nyumba site</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
</head>
<body>



    {% comment %} for the messages {% endcomment %}
    {% if messages %}
        {% for m in messages %}
            <div class="alert {{m.tags}} align-center" role="alert" id="alert">
                {{m}}
                <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container">
        <form action="." method="POST" class="container-fluid align-content-center  my-5" style="width:800px;">
            <label for="password1">Password:</label>
                <p>{{form.password1}}</p>
                <div class="text-danger"><p class="text-danger">{{form.errors.password1}}</p></div>

            <label for="password2">Confirm Password:</label>
                <p>{{form.password2}}</p>
                <div class="text-danger"><p class="text-danger">{{form.errors.password2}}</p></div>
                
            <input type="submit" value="register" class="mb-2 ">
        </form>
    </div>
    <script src="{%static 'js/bootstrap.js' %}"></script>
</body>
</html>