{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
</head>
<body>
    <section>
        <!-- logo -->
    </section>
    <div class="container my-4">
        <div>
            we have emailed you instructions on how to reset your password.check inbox or spam folder
        </div>
        <p>Nyumba site</p>
    </div>
    <footer>
        <!-- footer goes here -->
    </footer>
</body>
</html>