{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.css' %}">
</head>
<body>
    <div class="container my-4">
        <h3 class="align-center">Hood Codes</h3>
        <hr>
        <div class="container">

            <p>Dear {{user}} ,click on the button to change your password</p>
            <a href="{{protocol}}://{{domain}}{%url 'password_reset_confirm' uidb64=uid token=token%}">
                <div class="m-2">
                    <button class="btn btn-success">Change password</button>
                </div>
            </a>
        </div>
        <p>If you didn't request to change password ,ignore this email</p>
        Regards,
        Nyumba Site.
    </div>

</body>
</html>